<div class="text-center">
    <div id="scanner" class="w-full max-w-[400px] m-auto"></div>

    <div class="mt-6 text-xs text-black lg:text-sm">
        <button
            class="rounded-lg px-4 py-2 bg-green-800 text-white hover:bg-green-700 active:bg-green-900  disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="startScanner()" [disabled]="isScanning">Start Scan</button>
        <button
            class="rounded-lg px-4 py-2 bg-red-800 text-white hover:bg-red-700 active:bg-red-900 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
            (click)="stopScanner()" [disabled]="!isScanning">Stop Scan</button>
    </div>
</div>