<div class="text-center">
    <div id="scanner" class="w-full max-w-[400px] m-auto"></div>

    <div class="mt-6 text-xs text-black lg:text-sm">
        <button
            class="rounded-lg px-4 py-2 bg-gray-300 text-black hover:bg-gray-900 hover:text-gray-300 active:bg-gray-900 active:text-gray-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            (click)="startScanner()" [disabled]="isScanning">Start Scan</button>
        <button
            class="rounded-lg px-4 py-2 bg-gray-300 text-black hover:bg-gray-900 hover:text-gray-300 active:bg-gray-900 active:text-gray-300 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
            (click)="stopScanner()" [disabled]="!isScanning">Stop Scan</button>
    </div>
</div>